<header>
  <%= link_to "ながのCAKE", "/" %>

  <div class="nav">
    <ul>
      <li>商品一覧</li>
      <li>会員一覧</li>
      <li>注文履歴一覧</li>
      <li>ジャンル一覧</li>
      <li>ログアウト</li>
    </ul>
  </div>
</header>