<div class="container mt-3">

  <div class="row mt-3 ml-5">
    <h4 class="bg-light">ジャンル編集</h4>
  </div>

  <div class="row my-5">
    <%= form_with model: [:admin, @genre], local: true do |f| %>
      <label class="col-form-label">ジャンル名</label>
      <%= f.text_field :name, class: 'mx-5' %>
      <%= f.submit "変更を保存", class: 'btn btn-success' %>
    <% end %>
  </div>

</div>